@model IEnumerable<LeratoShop.Data.Entities.ProductType>

<flash dismissable="true" />

<table class="table table-striped table-responsive-md table-bordered smfont" id="CountriesTable">
    <colgroup>
        <col span="1" />
        <col span="1" />
        <col span="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "ProductTypes", new { id = 0 }, Context.Request.Scheme)' , 'Nuevo Tipo Producto')" class="btn btn-sm btn-secondary text-white"><i class="fa fa-plus-circle"></i> Tipo de producto</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="ProductTypes" asp-route-Id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "ProductTypes", new { id = item.Id }, Context.Request.Scheme)' , 'Actualizar Tipo Producto')" class="btn btn-sm btn-dark"><i class="fa fa-pencil-alt"></i> Editar</a>
                <button data-id="@item.Id" class="btn btn-sm btn-danger deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog"><i class="fa fa-trash"></i> Eliminar</button>
            </td>
        </tr>
        }
    </tbody>
</table>
